body,
html {
  height: 100%;
  margin: 0;
}

.container { 
  display: grid;
  gap: 25px;
  grid-template: repeat(10, 100px) / 25% 75%;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
}

.nav {
  grid-area: 2 / 2 / 3 / 3;
}

.sidebar {
  grid-area: 2 / 1 / 9 / 2;
}

.article {
  grid-area: 3 / 2 / 9 / 3;
}

.footer {
  grid-area: 9 / 1 / 10 / 3;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
}

.sidebar {
  background-color: #005B94;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7E1DC3;
}

.footer {
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}